@font-face {
font-family: "brandon";
url("https://www.dropbox.com/s/9zxajba67ghgipz/Brandon-Text.zip?dl=0") format("opentype"),
}

html {
    background-color: #757575;
    padding: 0px;
}
body {
    width: 80%;
    min-height: calc(100vh - 4em);
    margin: 0 auto;
    padding: 2em;
    background-color: #a0a0a0;
    border-color: #c0c0c0;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 20px;
}
p {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    line-height: 1;
    margin: 4pt;
}
p.value-description {
    text-indent: -16pt;
    margin-left: 20pt;
}
p.question {
    margin: 16pt auto;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    width: 70%;
    min-width: 500pt;
    min-height: 144pt;
    background-color: #c0c0c0;
    padding: 16pt;
    border: 6px solid #000000;
    border-radius: 16pt;
    font-size: 36pt;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
h1 {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 72pt;
    text-align: center;
    line-height: 72pt;
    margin-top: 0pt;
    margin-bottom: 0pt;
}
h2 {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    margin-top: 12pt;
    margin-bottom: 0pt;
}
li {
    font-size: 16pt;
    text-indent: 16pt;
}
a {
    font-family: inherit;
}
img.center {
    display: block;
    margin: 1em auto;
    width: 50%;
    min-width: 500pt;
}
.button {
    background-color: #00a0e0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border: 6px solid #000000;
    border-radius: 8pt;
    color: #ffffff;
    padding: 8pt;
    width: 50%;
    min-width: 500pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24pt;
    margin: -2px auto;
    cursor: pointer;
}
.small_button, .small_button_off {
    background-color: #505050;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border: 6px solid #000000;
    border-radius: 8pt;
    color: #ffffff;
    padding: 8pt;
    width: 10%;
    min-width: 100pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18pt;
    margin: -2px auto;
    cursor: pointer;
}
.small_button_off {
    background-color: #c0c0c0;
    font-weight: bold;
    color: #505050;
    border: 6px solid #000000;
    cursor: not-allowed;
    margin: -4px auto;
}
div.axis {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.bar {
    height: 36pt;
    line-height: 36pt;
    padding: 8pt;
    margin-top: 4pt;
    margin-bottom: 4pt;
    border-width: 6px;
    border-right-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #000000;
    background-color: #c0c0c0;
    display: block;
    width: 50%;
}
div.text-wrapper {
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    color: #000000;
    display: inline-block;
}
div.v1 {
    background-color: #c02500;
    text-align: left;
    border-right-style: solid;
}
div.v2 {
    background-color: #ff0050;
    text-align: right;
    border-left-style: solid;
}
div.v3 {
    background-color: #a00000;
    text-align: left;
    border-right-style: solid;
}
div.v4 {
    background-color: #ffa000;
    text-align: right;
    border-left-style: solid;
}
div.v5 {
    background-color: #c07500;
    text-align: left;
    border-right-style: solid;
}
div.v6 {
    background-color: #75c0c0;
    text-align: right;
    border-left-style: solid;
}
div.v7 {
    background-color: #750000;
    text-align: left;
    border-right-style: solid;
}
div.v8 {
    background-color: #c0c0c0;
    text-align: right;
    border-left-style: solid;
}
div.v9 {
    background-color: #e00000;
    text-align: left;
    border-right-style: solid;
}
div.v10 {
    background-color: #a0a000;
    text-align: right;
    border-left-style: solid;
}
div.v11 {
    background-color: #5050c0;
    text-align: left;
    border-right-style: solid;
}
div.v12 {
    background-color: #7500c0;
    text-align: right;
    border-left-style: solid;
}
div.v13 {
    background-color: #00a000;
    text-align: left;
    border-right-style: solid;
}
div.v14 {
    background-color: #ff75c0;
    text-align: right;
    border-left-style: solid;
}
div.v15 {
    background-color: #c07575;
    text-align: left;
    border-right-style: solid;
}
div.v16 {
    background-color: #c050c0;
    text-align: right;
    border-left-style: solid;
}
span.weight-300 {
    font-weight: 300;
}
#banner {
    border-color: #505050;
    border-style: solid;
    border-width: 2px;
    border-radius: 8pt;
    display: block;
    margin: 8pt;
    margin-left: auto;
    margin-right: auto;
}

